bitarray==2.9.2
datasets==2.12.0
datasets==2.18.0
faiss_gpu==1.7.2
Flask==2.2.2
GitPython==3.1.43
GitPython==3.1.43
huggingface_hub==0.17.3
huggingface_hub==0.22.2
jsonlines==4.0.0
numpy==1.24.3
numpy==1.24.4
psutil==5.9.0
python-dotenv==1.0.1
regex==2023.10.3
regex==2024.4.16
sentence_transformers==2.7.0
setuptools==68.0.0
setuptools==56.0.0
torch==1.13.1
tqdm==4.65.0
tqdm==4.66.2
transformers==4.32.1
transformers==4.39.3
ujson==5.4.0
ujson==5.9.0
yake==0.4.8
